.layout-item {
  box-shadow: inset 0 0 2px 3px black;

  transition: background-color .25s ease-out;
}

#nw {
  position: absolute;
  border-top-left-radius: 100%;

  background-color: darken(red, 30%);

  &.active, &:active{
    background-color: red;
  }
}


#ne {
  position: absolute;
  border-top-right-radius: 100%;

  background-color: darken(blue, 30%);

  &.active, &:active{
    background-color: blue;
  }
}

#sw {
  position: absolute;
  border-bottom-left-radius: 100%;

  background-color: darken(limegreen, 30%);

  &.active, &:active{
    background-color: limegreen;
  }
}

#se {
  position: absolute;
  border-bottom-right-radius: 100%;
  background-color: darken(yellow, 30%);


  &.active, &:active{
    background-color: yellow;
  }
}


#center {
  position: absolute;
  border-radius: 100%;
  background-color: black;
}